:root {
--very-dark-blue: hsl(233, 47%, 7%);
--dark-desaturated-blue: hsl(244, 38%, 16%);
--soft-violet: hsl(277, 64%, 61%);
--soft-violet-transparency: hsl(277, 64%, 61%,0.3);
--white: hsl(0, 0%, 100%);
--slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
--slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
--standar: 15px;
--md: 20px;
--sm: 12px;
--title: 40px;
}

body{
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Inter', sans-serif;
    background-color: var(--very-dark-blue);
}

.main-container{
    display: flex;
    align-items: center;
    margin: 100px auto 12px;
    background-color: var(--dark-desaturated-blue);
    border-radius: 12px;
    height: 500px;
    width: 1200px;
}

img{
    border-radius: 0 12px 12px 0;
    height: 100%;
    width: 600px;
}

.text-container{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: var(--title);
    font-weight: bold;
    color: var(--white);
    margin: 0px 48px 32px;
}

.title-span{
    color: var(--soft-violet);
}

.main-text{
    font-size: var(--standar);
    color: var(--slightly-transparent-white);
    margin: 0px 166px 48px 48px;
    line-height: 24px;
}

.stats-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    margin-right: 90px;
    margin-left: 8px;
}

.stat-1, .stat-2, .stat-3{
    color: var(--white);
    font-weight: bold;
    font-size: var(--md);
    margin-top: 24px;
}

.span-stat1, .span-stat2,.span-stat3{
    display: flex;
    font-size: var(--sm);
    color: var(--slightly-transparent-white);
    font-family:'Lexend Deca', sans-serif;
    font-weight: 400;
    margin-top: 8px;
    
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: var(--slightly-transparent-white);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}